.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  margin-left: -50px;
  margin-top: 0px;
  padding-top: 0px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
  }
  
}
.top-head {
  font-size: 24px;
  text-align: left;
  margin-left: 15px;
}

.top-content-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.top-overview-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}


.overview-div-1 {
  background-color: rgb(205, 238, 243);
  width: 200px;
  color: black;
  padding: 10px 10px;
  padding-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  margin: 10px;
}

.overview-div-2 {
  background-color: rgb(246, 202, 210);
  color: black;
  width: 200px;
  padding: 10px 10px;
  padding-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  margin: 10px;
}

.overview-div-3 {
  background-color: rgb(209, 213, 249);
  color: black;
  width: 200px;
  padding: 10px 10px;
  padding-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  margin: 10px;
}

.overview-div-4 {
  background-color: rgb(240, 208, 248);
  color: black;
  width: 200px;
  padding: 10px 10px;
  padding-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  margin: 10px;
}

.overview-div-div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  align-items: flex-start;
}

.over-icon {
  background-color: rgb(250, 246, 253);
  padding: 15px;
  font-size: 25px;
  border-radius: 40px;
}

.over-para {
  font-size: 15px;
  margin-bottom: 0px;

}

.over-para-1 {
  font-size: 19px;
  margin-top: 10px;
  font-weight: 700;

}

.charts-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 25px;
  
  
}

@media screen  and (min-width: 320px) and (max-width: 768px){

  .top-overview-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

  }

  .charts-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 0px;
      
  }
}

.charts-container-1 {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px 30px;
  border: 1px solid #c7c6c6;
  border-radius: 5px;
  margin: 10px;
}

.chart-title {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 40px;
  color: black;
  
  
}

.charts-container-1-dark {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 20px 30px;
  border: 1px solid #353535;
  border-radius: 5px;
  margin: 10px;
}

.chart-title-dark {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 40px;
  color: white; 
  
}

